.DS_Store
node_modules
.next
out
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel

# Kitchen sink
/kitchen-sink/node_modules
/public/kitchensink-app

# ReVive iOS source zip
ReViveApp.zip
/examples/ReViveApp.zip
examples/
ReVive/swift/ReViveApp.zip
swift/
