@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margins */
html, body {
  margin: 0;
  padding: 0;
  background: #020610;
  min-height: 100%;
}

#__next {
  min-height: 100%;
  background: #020610;
}
