@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margins */
html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  overscroll-behavior: none;
}
